@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=IBM+Plex+Sans&family=Indie+Flower&family=Jost:ital,wght@1,900&family=Lunasima&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300&family=Roboto+Slab&family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
.navbar #toggleMenu {
  height: 20px;
  width: 20px;
  margin: 0 0 0 10px;
  cursor: pointer;
  display: none;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav #Menuitem li a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.header {
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
  margin-top: 70px;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col2 {
  flex-basis: 50%;
  min-height: 300px;
}
.col2 img {
  max-width: 100%;
}
.col2 h1 {
  font-size: 50px;
  line-height: 50px;
}
.button {
  background: #ff523b;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  margin: 30px 0;
  display: inline-block;
  transition: background 0.5s;
}
.button:hover {
  background: #563434;
}
@media (max-width: 765px) {
  .col2 {
    flex-basis: 100%;
    min-height: 300px;
    margin-left: 27px;
  }
}

/*  feature Catogeries-*/

.featurerow {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}
.featurerow .featureimg {
  width: 320px;
  margin: 20px;
}

.featureimg:hover {
  position: relative;
}
.tray {
  margin: auto;
  padding: 0 10px 0 10px;
}

@media (max-width: 765px) {
  .featurerow .featureimg {
    width: 215px;
    margin: 3px;
  }
}

/* Feature Products */

.smallcontainer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.col4 {
  flex-basis: 25px;
  margin: 10px 0px;
  padding: 0 20px;
  transition: transform 0.5s;
}
.col4 img {
  height: 300px;
}
.col4 h4 {
  color: #252525;
}
.rating {
  color: #ff523b;
}
.col4:hover {
  transform: translateY(-5px);
}

.offer {
  background: radial-gradient(#fff, #ffd6d6);
}
.smallcontainer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 60px 60px;
  padding: 60px;
}
.col5 {
  flex-basis: 50%;
}
.col5 .offerimg {
  height: 300px;
  float: right;
}
.col5 h1 {
  font-size: 50px;
}

.smallcontainer3 {
  display: flex;
  flex-wrap: wrap;
}
.col6 {
  height: 20vh;
  width: 20%;
}

.testimonialrows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.testimonialcols {
  flex-basis: 25%;
  margin: 10px;
  transition: transform 0.5s;
}
.testimonialcols:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.testimonialcols p {
  color: black;
  font-size: 12px;
}
.testimonialcols .userimg {
  height: 50px;
  border-radius: 50%;
}
.testimonialcols .fa-solid {
  color: orangered;
}
.userprofile p {
  color: teal;
}
.userprofile .fa-twitter {
  color: teal;
  margin-left: 10px;
}

@media (max-width: 765px) {
  .testimonialcols {
    flex-basis: 50%;
    margin: 50px;
  }
}

.brandsrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 80px;
  padding: 20px;
}
.brandscols {
  padding: 0 20px;
}
.brandlogo {
  filter: grayscale(100%);
  transition: 0.4s;
}
.brandlogo:hover {
  cursor: pointer;
  filter: grayscale(0);
}

/* Footer */
.footerrows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #252525;
  padding: 50px;
}
.footercols {
  flex-basis: 15%;
}
.appstore {
  width: 120px;
  padding-top: 15px;
}
.whitelogo {
  width: 120px;
  padding-top: 15px;
}
.footercols h3 {
  color: white;
  margin: 10px 0;
}
.footercols p {
  margin: 10px 0;
}
.playios {
  display: flex;
  gap: 10px;
}
.usfullinks {
  list-style-type: none;
  color: #555;
}
.copyrightsec {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  padding: 10px 0;
  line-height: 8px;
}
.adityabrandlogo {
  height: 20px;
  margin: 5px 0 0 10px;
  padding-top: 3px;
}
#menuimage {
  height: 20px;
  margin-left: 20px;
  display: none;
}
.footerlinks a {
  color: #555;
}

@media (max-width: 666px) {
  .footercols {
    flex-basis: 100%;
    margin: 20px 0;
  }
  .footerrows {
    padding: 20px;
    text-align: center;
  }
  .whitelogo {
    width: 120px;
    padding-top: 15px;
    margin-left: 50px;
  }
  .copyrightsec {
    font-size: 13px;
    padding: 30px 0;
    text-align: center;
  }
  .adityabrandlogo {
    height: 20px;
    margin: 5px 0 0 10px;
    padding-top: 3px;
  }
}

/*  toggle menu for small screen */
@media (max-width: 666px) {
  .navbar #toggleMenu {
    display: block;
  }
  nav ul {
    position: absolute;
    top: 70px;
    background: #ffdddd;
    left: 50%;
    width: 50%;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    text-align: left;
    z-index: 1000;
    display: none;
    transition: 5s ease-in-out;
  }
  nav ul.active {
    display: flex;
    transition: 5s ease-in-out;
    position: sticky;
    top: -40vh;
  }
  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  nav ul li a {
    color: rgb(0, 0, 0);
  }
}

/* Product Details */

.row2 {
  justify-content: space-evenly;
  margin: 100px 100px;
  display: flex;
}
select {
  margin-top: 20px;
  padding: 5px;
  border-radius: none;
}
select:focus {
  outline: none;
}
.SingleProduct {
  margin: 20px;
}
.pagebtn {
  margin: 20px 10px;
  display: flex;
  justify-content: center;
}
span {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff523b;
  font-size: 17px;
  margin: 50px 10px;
  cursor: pointer;
}

/* Single Product Details */

.single_product_container .row .col {
  flex-basis: 50%;
}
.single_product_container .row:first-child {
  margin-left: 40px;
}
.single_product_container h1 {
  font-size: 35px;
  position: relative;
  margin: 5px 0;
}
.single_product_container h1::after {
  content: "";
  background: #252525;
  height: 1px;
  width: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 30px;
}
.single_product_container .row .col #mainimage {
  height: 450px;
  width: 400px;
}
.small_image_container ul {
  display: flex;
}
.small_image_container ul li .smallimg {
  height: 80px;
  width: 70px;
  margin: 0 5px 0 0;
  cursor: pointer;
}
#select {
  background: #ffffff;
  padding: 10px;
}
#smallcontainer_input {
  background: #555;
  border-radius: none;
  width: 60px;
  height: 35px;
  border-radius: 0;
  width: 90px;
  border: 1px solid black;
  background: transparent;
  color: #000;
  font-size: 14px;
  padding: 0 0 0 10px;
}
.product_details {
  width: 100%;
}
@media (max-width: 651px) {
  .single_product_container .row .col {
    flex-basis: 100%;
  }
  .single_product_container .row:first-child {
    margin-left: 15px;
  }
  .single_product_container .row .col #mainimage {
    height: 310px;
    width: 295px;
  }
}

/*   Cart Page  */
.cart_section {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}
table {
  flex-basis: 60%;
  width: 100%;
  border-collapse: collapse;
}
.cart_info {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.cart_info img {
  height: 100px;
}
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}
td {
  margin: 0 30px;
}
td input {
  height: 26px;
  width: 40px;
  font-size: 15px;
  padding: 0 0 0 10px;
  border-radius: 4px;
  transition: 0.5s;
  border: none;
  color: #000;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid black;
}
.product_info {
  padding: 0 10px;
}
.product_info h2 {
  font-size: 15px;
  margin: 5px 0;
  font-weight: 500;
}
td button {
  padding: 5px;
  color: #000;
}
.total_price {
  display: flex;
  justify-content: center;
}
.total_price table {
  width: 100%;
  border-top: 3px solid #ff523b;
  max-width: 750px;
  text-align: left;
}
.total_price table tr td {
  padding: 3px 0;
  font-size: 20px;
}
.Proceed_sec {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}
.Proceed_sec .cart_button {
  margin: 0 0 0 10px;
  background: #252525;
  color: #fff;
  padding: 10px;
}
@media (max-width: 750px) {
  table {
    flex-basis: 100%;
    margin: 0 10px;
  }
  .product_info h2 {
    display: none;
  }

  td button {
    padding: 10px;
    color: #ffffff;
    background-color: #ff523b;
    margin: 12px 0;
    border: none;
    border-radius: 3px;
  }
  td input {
    height: 25px;
    width: 35px;
    font-size: 13px;
  }
  td h2 {
    font-size: 19px;
  }
  .cart_info img {
    height: 180px;
  }
  .cart_section table tr td {
    padding: 0 10px;
  }
}

@media (max-width: 334px) {
  table {
    flex-basis: 100%;
    margin: 0 20px;
  }
  td h2 {
    font-size: 15px;
  }
  .product_info h2 {
    display: none;
  }

  td button {
    padding: 5px;
    color: #ffffff;
    background-color: #ff523b;
    margin: 6px 0;
    border: none;
    border-radius: 3px;
  }
  td input {
    height: 20px;
    width: 30px;
    font-size: 12px;
  }
  .cart_info img {
    height: 72px;
  }
  .cart_section table tr td {
    padding: 0 8px;
    font-size: 15px;
  }
  .total_price table tr td {
    padding: 3px 0;
    font-size: 16px;
  }
}

/* Login Page */
.col img {
  width: 400px;
}
form {
  display: flex;
  flex-direction: column;
  background-color: #252525;
  padding: 20px;
  border-radius: 4px;
}
form h2 {
  color: #ff523b;
  font-weight: normal;
  position: relative;
  margin: 0 0 10px 0;
}
form h2::after {
  content: "";
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 30%;
}
form label {
  color: #fff;
}
form input {
  margin: 5px 0;
  padding: 5px;
  outline: none;
  cursor: pointer;
}
form button {
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
  background: #555;
  outline: none;
  border: none;
  color: #fff;
}
form button:hover {
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
  background: #555;
  outline: none;
  border: none;
  color: #fff;
}
form p {
  color: #fff;
}
form p a {
  color: #ff523b;
}
@media (max-width: 670px) {
  .signup {
    margin: 30px 0;
  }
  .col img {
    display: block;
  }
}
